nav{
	position:absolute;
	top:0;
	left:0;
	display:flex;
	flex-direction:column;
	width:15%;
	min-height: 100vh;
	background-color: #0b2733d5;
	padding:2rem 1rem 1rem 1rem;
	transition: transform 1s;
	z-index: 2;
}

.navbar{
	transform: translateX(-100%);
}

.nav-btn{
	position: absolute;
	transform: translateX(38px);
	top: 20px;
	right: 0;
	width:40px;
	height: 60px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0b2733d5;
	outline: none;
	border: none;
	font-size: 1rem;
	padding: 5px 10px;
	cursor: pointer;
	color: #fff;
}

.logo{
	display: block;
	width: 100px;
	margin: auto;
	background:transparent;
}

.logo img{
	display: block;
	width: 100%;
	height: 100%;
}

.nav-link{
	display: flex;
	align-items: center;
	color: #fff;
	text-decoration: none;
	padding: 10px 1rem;
	border-radius: 5px;
	margin-bottom: 5px;
}

.nav-link:hover{
	background-color:#AFB4FF;
	color: #4e4e4e;
}

.nav-link span{
	margin-left: 10px;
}

.nav-top{
	margin-top: 10rem;
}

.mobile-nav{
	background-color:#0b2733d5;
	width: 100%;
	height:40px;
	display: none;
}

.mobile-nav-btn{
	
	background: transparent;
	outline: none;
	border: none;
	margin: 0 10px;
	position: absolute;
	top: 0;
}

@media only screen and (max-width: 768px){
	nav{
		width: 15%;
		padding: 10px;
	}
}

@media only screen and (max-width: 450px){
	.mobile-nav{
		display: flex;
		align-items: center;
	}
	nav{
		width: 100%;
		top: 38px;
		min-height: calc(100vh - 38px);
	}

	.nav-btn{
		display: none;
	}
}

/* ///////////////////////////////// */

.grid-container {
	display: grid;
    height: -webkit-fill-available;
    width: 90vw;
    align-content: flex-start;
    grid-template-columns: auto auto auto auto auto auto;
    row-gap: 1vh;
    /* background-color: #2196F3; */
    position: fixed;
    top: 4vh;
    /* bottom: 0px; */
    right: 6vw;
    padding-right: 1vw;
    overflow-y: visible;
    padding-left: 1vw;
    padding-top: 1vh;
    overflow: scroll;
    padding-bottom: 1vh;
  }
  
  .grid-container > div {
	background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 10px;
    font-size: 10px;
    display: table-cell;
    border: groove;
  }
  .grid-container-sm {
	display: grid;
    height: -webkit-fill-available;
    width: 78vw;
    align-content: flex-start;
    grid-template-columns: auto auto auto auto auto auto;
    row-gap: 1vh;
    /* background-color: #2196F3; */
    position: fixed;
    top: 4vh;
    /* bottom: 0px; */
    right: 4vw;
    padding-right: 1vw;
    overflow-y: visible;
    padding-left: 1vw;
    padding-top: 1vh;
    overflow: scroll;
    padding-bottom: 1vh;
  }
  .grid-container-sm > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 10px;
	font-size: 10px;
	display: table-cell;
    border: groove;
  }
  .item1 {
	grid-row: 1 / 9;
  }
  .days{
	font-size : 6vw;
  }

  .grid-container-info {
	z-index: 1;
	display: grid;
    height: -webkit-fill-available;
	justify-content: space-evenly;
    width: 90vw;
    align-content: flex-start;
    grid-template-columns: auto auto;
    row-gap: 1vh;
    /* background-color: #2196F3; */
    position: fixed;
    top: 4vh;
    /* bottom: 0px; */
    right: 6vw;
    padding-right: 1vw;
    overflow-y: visible;
    padding-left: 1vw;
    padding-top: 1vh;
    overflow: scroll;
    padding-bottom: 1vh;
  }
  
  .grid-container-info > div {
	background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 10px;
    display: table-cell;
    border: groove;
    font-size: inherit;
    width: 25vw;
    overflow-wrap: anywhere;
}
  